html, body{
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 25px;
  background: fixed linear-gradient(#fff,#b8ffcf);
}

.header{
  background: center fixed linear-gradient(#e0ffeb,#42b85a);
  padding: 15px 10px;
  width: 80%;
  overflow: hidden;
  top: 20px;
  position: relative;
  margin: auto;
  font-family: cursive;
  box-shadow: 2px 2px 2px 2px #9ce39d;
  font-weight: 900;
  text-shadow: 1px 1px #fff;
}

.textbox{
  background: center fixed linear-gradient(#e0ffeb,#86d596);
  padding: 30px 30px;
  width: 45%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px #9ce39d;
  font-family: cursive;
  font-size: 22px;
  text-shadow: 1px 1px #dbffe4;
}

.textIntro{
  padding: 10px 10px;
  position: absolute;
  top: 55%;
  right: 4%;
  width: 20%;
  overflow: hidden;
  background: center fixed linear-gradient(#e0ffeb,#7bd58d);\
  box-shadow: 2px 2px 2px 2px #13a416;
  font-family: cursive;
  font-size: 20px;
}

img{
  width: 200px;
  length: 200px;
}

#dorian{
  position: absolute;
  top: 200px;
  right: 120px;
  border: 2px solid #6ec493;
  width: 300px;
}

#teacher{
  position: absolute;
  top: 150px;
  left: 100px;
  border: 2px solid #6ec493;
  width: 300px;
}

.video-container{
  padding: 10px 10px;
  position: absolute;
  top: 60%;
  left: 1%;
  background: center fixed linear-gradient(#e0ffeb,#38a34d);\
  box-shadow: 2px 2px 2px 2px #4ccd4e;
}
